  <div class="entry grid-item" data-entry-id="340485987" data-entry-group-id="141274928" data-uploader-username="myriamyam" data-actionable="false" data-context-user-id="64132207" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340485987">
      <img class="entry-thumbnail" height="250" width="300" alt="islam and اﻹسلام image" src="https://data.whicdn.com/images/340485987/superthumb.jpg?t=1581729642" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/myriamyam"><img alt="𝓜" title="𝓜" class="avatar" src="https://data.whicdn.com/avatars/64132207/profile.jpg?t=1581717705" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/myriamyam">
              <span class="text-big">𝓜</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-15T01:20:42Z">about 6 hours ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="64132207" data-username="myriamyam" data-collection-count="7" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340485987" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340485987/superthumb.jpg?t=1581729642" data-entry-id="340485987" data-hearter-username="myriamyam" >
        <span class="block pull-bottom js-heart-count">1</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340485987">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340485987">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340485987"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340485987">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340485987" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340485987 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340485987"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340479301" data-entry-group-id="141271513" data-uploader-username="YasminYaNoura" data-actionable="false" data-context-user-id="4137430" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340479301">
      <img class="entry-thumbnail" height="250" width="300" alt="beauty, dz, and morocco image" src="https://data.whicdn.com/images/340479301/superthumb.jpg?t=1581713006" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/YasminYaNoura"><img alt="ياسمين♡" title="ياسمين♡" class="avatar" src="https://data.whicdn.com/avatars/4137430/profile.png?t=1563119893" /><span class="avatar-badge badge-heartist"></span></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/YasminYaNoura">
              <span class="text-big">ياسمين♡</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-14T20:43:26Z">about 10 hours ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="4137430" data-username="YasminYaNoura" data-collection-count="30" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340479301" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340479301/superthumb.jpg?t=1581713006" data-entry-id="340479301" data-hearter-username="YasminYaNoura" >
        <span class="block pull-bottom js-heart-count">10</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340479301">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340479301">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340479301"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340479301">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340479301" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340479301 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340479301"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340474958" data-uploader-username="fatimakarimms" data-actionable="false" data-context-user-id="55303967" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview entry-article thumb-height ">

      <div class="article-info-overlay">
        <a class="overlay" href="/articles/340474958-luke-6-12-jesus-christ-prayed-to-god-all-night"></a>
          <span class="avatar-container  avatar-small"><img alt="Fatima Karim" title="Fatima Karim" class="avatar" src="https://data.whicdn.com/avatars/55303967/profile.png?t=1542149648" /></span>
        <div class="panel panel-unstyled position-bottom">
          <h3 class="h4 text-medium-responsive text-white text-shadowed no-margin text-overflow-2lines">
            Luke 6:12 Jesus Christ prayed to God all night
          </h3>
        </div>
      </div>

    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" target="_blank" data-article="1" href="/articles/340474958-luke-6-12-jesus-christ-prayed-to-god-all-night">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, philosophy, and quran image" src="https://data.whicdn.com/images/340474958/superthumb.jpg?t=1581702843" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/fatimakarimms"><img alt="Fatima Karim" title="Fatima Karim" class="avatar" src="https://data.whicdn.com/avatars/55303967/profile.png?t=1542149648" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/fatimakarimms">
              <span class="text-big">Fatima Karim</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-14T17:54:03Z">about 13 hours ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="55303967" data-username="fatimakarimms" data-collection-count="13" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340474958-luke-6-12-jesus-christ-prayed-to-god-all-night" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340474958/superthumb.jpg?t=1581702843" data-entry-id="340474958" data-hearter-username="fatimakarimms" >
        <span class="block pull-bottom js-heart-count">26</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340474958">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340474958">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340474958"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340474958">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340474958" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340474958 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340474958-luke-6-12-jesus-christ-prayed-to-god-all-night"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340473374" data-entry-group-id="25660937" data-uploader-username="worship1" data-actionable="false" data-context-user-id="64100836" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340473374">
      <img class="entry-thumbnail" height="250" width="300" alt="Image by المؤمنة بالله" src="https://data.whicdn.com/images/340473374/superthumb.jpg?t=1581699610" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/worship1"><img alt="المؤمنة بالله" title="المؤمنة بالله" class="avatar" src="https://data.whicdn.com/avatars/64100836/profile.jpg?t=1581278250" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/worship1">
              <span class="text-big">المؤمنة بالله</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-14T17:00:10Z">about 14 hours ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="64100836" data-username="worship1" data-collection-count="9" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340473374" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340473374/superthumb.jpg?t=1581699610" data-entry-id="340473374" data-hearter-username="worship1" >
        <span class="block pull-bottom js-heart-count">21</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340473374">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340473374">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340473374"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340473374">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340473374" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340473374 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340473374"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340472312" data-entry-group-id="141267678" data-uploader-username="iammeraj" data-actionable="false" data-context-user-id="59556270" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340472312">
      <img class="entry-thumbnail" height="250" width="300" alt="islam, reminder, and الله‎ image" src="https://data.whicdn.com/images/340472312/superthumb.jpg?t=1581697187" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/iammeraj"><img alt="Mohammad Meraj" title="Mohammad Meraj" class="avatar" src="https://data.whicdn.com/avatars/59556270/profile.png?t=1581493669" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/iammeraj">
              <span class="text-big">Mohammad Meraj</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-14T16:19:47Z">about 15 hours ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="59556270" data-username="iammeraj" data-collection-count="7" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340472312" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340472312/superthumb.jpg?t=1581697187" data-entry-id="340472312" data-hearter-username="iammeraj" >
        <span class="block pull-bottom js-heart-count">15</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340472312">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340472312">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340472312"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340472312">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340472312" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340472312 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340472312"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340468890" data-entry-group-id="141265769" data-uploader-username="YasminYaNoura" data-actionable="false" data-context-user-id="4137430" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340468890">
      <img class="entry-thumbnail" height="250" width="300" alt="aesthetic, hijab, and islam image" src="https://data.whicdn.com/images/340468890/superthumb.jpg?t=1581689361" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/YasminYaNoura"><img alt="ياسمين♡" title="ياسمين♡" class="avatar" src="https://data.whicdn.com/avatars/4137430/profile.png?t=1563119893" /><span class="avatar-badge badge-heartist"></span></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/YasminYaNoura">
              <span class="text-big">ياسمين♡</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-14T14:09:21Z">about 17 hours ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="4137430" data-username="YasminYaNoura" data-collection-count="30" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340468890" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340468890/superthumb.jpg?t=1581689361" data-entry-id="340468890" data-hearter-username="YasminYaNoura" >
        <span class="block pull-bottom js-heart-count">6</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340468890">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340468890">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340468890"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340468890">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340468890" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340468890 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340468890"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340467610" data-entry-group-id="141265069" data-uploader-username="chillinaris" data-actionable="false" data-context-user-id="34585780" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340467610">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, halal, and haram image" src="https://data.whicdn.com/images/340467610/superthumb.jpg?t=1581686894" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/chillinaris"><img alt="chillinaris" title="chillinaris" class="avatar" src="https://data.whicdn.com/avatars/34585780/profile.png?t=1435725319" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/chillinaris">
              <span class="text-big">chillinaris</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-14T13:28:14Z">about 18 hours ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="34585780" data-username="chillinaris" data-collection-count="12" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340467610" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340467610/superthumb.jpg?t=1581686894" data-entry-id="340467610" data-hearter-username="chillinaris" >
        <span class="block pull-bottom js-heart-count">4</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340467610">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340467610">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340467610"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340467610">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340467610" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340467610 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340467610"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340465691" data-entry-group-id="141263912" data-uploader-username="muhammadusmankhalil33" data-actionable="false" data-context-user-id="64127169" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340465691">
      <img class="entry-thumbnail" height="250" width="300" alt="day of woman, ornaments of women, and hadeth about women image" src="https://data.whicdn.com/images/340465691/superthumb.jpg?t=1581682740" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/muhammadusmankhalil33"><img alt="muhammadusmankhalil33" title="muhammadusmankhalil33" class="avatar" src="https://assets.whicdn.com/assets/avatar/default_avatar_2_140-70a5405a4af392572a5544579fdd40c85b165b8f457304ca994d730cd5a2642f.png" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/muhammadusmankhalil33">
              <span class="text-big">muhammadusmankhalil33</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-14T12:19:00Z">about 19 hours ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="64127169" data-username="muhammadusmankhalil33" data-collection-count="4" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340465691" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340465691/superthumb.jpg?t=1581682740" data-entry-id="340465691" data-hearter-username="muhammadusmankhalil33" >
        <span class="block pull-bottom js-heart-count">4</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340465691">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340465691">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340465691"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340465691">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340465691" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340465691 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340465691"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340463674" data-entry-group-id="141262803" data-uploader-username="fatimakarimms" data-actionable="true" data-context-user-id="55303967" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340463674">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, birds, and philosophy image" src="https://data.whicdn.com/images/340463674/superthumb.jpg?t=1581677540" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/fatimakarimms"><img alt="Fatima Karim" title="Fatima Karim" class="avatar" src="https://data.whicdn.com/avatars/55303967/profile.png?t=1542149648" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/fatimakarimms">
              <span class="text-big">Fatima Karim</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-14T10:52:20Z">about 20 hours ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="55303967" data-username="fatimakarimms" data-collection-count="13" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340463674" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340463674/superthumb.jpg?t=1581677540" data-entry-id="340463674" data-hearter-username="fatimakarimms" >
        <span class="block pull-bottom js-heart-count">31</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340463674">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340463674">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340463674"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340463674">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340463674" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340463674 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340463674"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340462439" data-entry-group-id="141262097" data-uploader-username="ImStrivingForJannah" data-actionable="false" data-context-user-id="47932552" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340462439">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, muslims, and islam image" src="https://data.whicdn.com/images/340462439/superthumb.jpg?t=1581674450" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/ImStrivingForJannah"><img alt="ImStrivingForJannah🙏♥" title="ImStrivingForJannah🙏♥" class="avatar" src="https://data.whicdn.com/avatars/47932552/profile.png?t=1577816773" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/ImStrivingForJannah">
              <span class="text-big">ImStrivingForJannah🙏♥</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-14T10:00:50Z">about 21 hours ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="47932552" data-username="ImStrivingForJannah" data-collection-count="1" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340462439" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340462439/superthumb.jpg?t=1581674450" data-entry-id="340462439" data-hearter-username="ImStrivingForJannah" >
        <span class="block pull-bottom js-heart-count">2</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340462439">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340462439">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340462439"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340462439">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340462439" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340462439 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340462439"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340462420" data-entry-group-id="141262088" data-uploader-username="ImStrivingForJannah" data-actionable="false" data-context-user-id="47932552" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340462420">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, muslims, and islam image" src="https://data.whicdn.com/images/340462420/superthumb.jpg?t=1581674391" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/ImStrivingForJannah"><img alt="ImStrivingForJannah🙏♥" title="ImStrivingForJannah🙏♥" class="avatar" src="https://data.whicdn.com/avatars/47932552/profile.png?t=1577816773" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/ImStrivingForJannah">
              <span class="text-big">ImStrivingForJannah🙏♥</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-14T09:59:51Z">about 21 hours ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="47932552" data-username="ImStrivingForJannah" data-collection-count="1" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340462420" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340462420/superthumb.jpg?t=1581674391" data-entry-id="340462420" data-hearter-username="ImStrivingForJannah" >
        <span class="block pull-bottom js-heart-count">1</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340462420">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340462420">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340462420"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340462420">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340462420" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340462420 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340462420"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340456075" data-entry-group-id="141258482" data-uploader-username="umm_djuneyd" data-actionable="false" data-context-user-id="6598637" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340456075">
      <img class="entry-thumbnail" height="250" width="300" alt="islam, mosque, and chechnya image" src="https://data.whicdn.com/images/340456075/superthumb.jpg?t=1581656952" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/umm_djuneyd"><img alt="M" title="M" class="avatar" src="https://data.whicdn.com/avatars/6598637/profile.jpg?t=1578820448" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/umm_djuneyd">
              <span class="text-big">M</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-14T05:09:13Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="6598637" data-username="umm_djuneyd" data-collection-count="37" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340456075" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340456075/superthumb.jpg?t=1581656952" data-entry-id="340456075" data-hearter-username="umm_djuneyd" >
        <span class="block pull-bottom js-heart-count">65</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340456075">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340456075">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340456075"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340456075">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340456075" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340456075 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340456075"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340455587" data-entry-group-id="138976078" data-uploader-username="the_best_hope_" data-actionable="false" data-context-user-id="48104364" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340455587">
      <img class="entry-thumbnail" height="250" width="300" alt="islam, الله‎, and الرسول image" src="https://data.whicdn.com/images/340455587/superthumb.jpg?t=1581655704" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/the_best_hope_"><img alt="the_best_hope_" title="the_best_hope_" class="avatar" src="https://data.whicdn.com/avatars/48104364/profile.jpg?t=1483542596" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/the_best_hope_">
              <span class="text-big">the_best_hope_</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-14T04:48:24Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="48104364" data-username="the_best_hope_" data-collection-count="3" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340455587" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340455587/superthumb.jpg?t=1581655704" data-entry-id="340455587" data-hearter-username="the_best_hope_" >
        <span class="block pull-bottom js-heart-count">24</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340455587">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340455587">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340455587"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340455587">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340455587" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340455587 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340455587"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340447102" data-entry-group-id="141253731" data-uploader-username="jessyciszowic" data-actionable="false" data-context-user-id="1589761" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340447102">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, in love, and we image" src="https://data.whicdn.com/images/340447102/superthumb.jpg?t=1581633695" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/jessyciszowic"><img alt="Jessica" title="Jessica" class="avatar" src="https://data.whicdn.com/avatars/1589761/profile.jpg?t=1491594306" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/jessyciszowic">
              <span class="text-big">Jessica</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-13T22:41:35Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="1589761" data-username="jessyciszowic" data-collection-count="6" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340447102" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340447102/superthumb.jpg?t=1581633695" data-entry-id="340447102" data-hearter-username="jessyciszowic" >
        <span class="block pull-bottom js-heart-count">69</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340447102">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340447102">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340447102"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340447102">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340447102" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340447102 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340447102"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340446885" data-entry-group-id="141253625" data-uploader-username="jessyciszowic" data-actionable="false" data-context-user-id="1589761" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340446885">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, arabic, and beautiful image" src="https://data.whicdn.com/images/340446885/superthumb.jpg?t=1581633256" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/jessyciszowic"><img alt="Jessica" title="Jessica" class="avatar" src="https://data.whicdn.com/avatars/1589761/profile.jpg?t=1491594306" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/jessyciszowic">
              <span class="text-big">Jessica</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-13T22:34:16Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="1589761" data-username="jessyciszowic" data-collection-count="6" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340446885" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340446885/superthumb.jpg?t=1581633256" data-entry-id="340446885" data-hearter-username="jessyciszowic" >
        <span class="block pull-bottom js-heart-count">112</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340446885">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340446885">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340446885"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340446885">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340446885" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340446885 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340446885"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
        <div class="js-doubleclick-ad grid-item hide-xs hide-sm ad-placeholder" id="grid-ad-0" data-ad-unit="WeHeartIt_Grid_300x250" data-ad-size="300x250" data-ad-targeting-name1="strnativekey" data-ad-targeting-value1="yhfVw4rrKCoKnhdY3iyvEv1s" data-ad-targeting-name2="pagename" data-ad-targeting-value2="search"><div class="ad-label">Advertisement</div><span class="block thumb-height"></span></div>
  <div class="entry grid-item" data-entry-id="340446723" data-entry-group-id="141253527" data-uploader-username="jessyciszowic" data-actionable="false" data-context-user-id="1589761" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340446723">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, black and white, and dont worry image" src="https://data.whicdn.com/images/340446723/superthumb.jpg?t=1581632838" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/jessyciszowic"><img alt="Jessica" title="Jessica" class="avatar" src="https://data.whicdn.com/avatars/1589761/profile.jpg?t=1491594306" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/jessyciszowic">
              <span class="text-big">Jessica</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-13T22:27:18Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="1589761" data-username="jessyciszowic" data-collection-count="6" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340446723" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340446723/superthumb.jpg?t=1581632838" data-entry-id="340446723" data-hearter-username="jessyciszowic" >
        <span class="block pull-bottom js-heart-count">121</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340446723">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340446723">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340446723"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340446723">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340446723" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340446723 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340446723"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340446504" data-entry-group-id="141253416" data-uploader-username="jessyciszowic" data-actionable="false" data-context-user-id="1589761" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340446504">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, black and white, and islam image" src="https://data.whicdn.com/images/340446504/superthumb.jpg?t=1581632393" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/jessyciszowic"><img alt="Jessica" title="Jessica" class="avatar" src="https://data.whicdn.com/avatars/1589761/profile.jpg?t=1491594306" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/jessyciszowic">
              <span class="text-big">Jessica</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-13T22:19:53Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="1589761" data-username="jessyciszowic" data-collection-count="6" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340446504" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340446504/superthumb.jpg?t=1581632393" data-entry-id="340446504" data-hearter-username="jessyciszowic" >
        <span class="block pull-bottom js-heart-count">56</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340446504">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340446504">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340446504"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340446504">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340446504" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340446504 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340446504"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340446183" data-entry-group-id="141253235" data-uploader-username="jessyciszowic" data-actionable="false" data-context-user-id="1589761" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340446183">
      <img class="entry-thumbnail" height="250" width="300" alt="always, ever, and need image" src="https://data.whicdn.com/images/340446183/superthumb.jpg?t=1581631716" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/jessyciszowic"><img alt="Jessica" title="Jessica" class="avatar" src="https://data.whicdn.com/avatars/1589761/profile.jpg?t=1491594306" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/jessyciszowic">
              <span class="text-big">Jessica</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-13T22:08:36Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="1589761" data-username="jessyciszowic" data-collection-count="6" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340446183" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340446183/superthumb.jpg?t=1581631716" data-entry-id="340446183" data-hearter-username="jessyciszowic" >
        <span class="block pull-bottom js-heart-count">75</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340446183">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340446183">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340446183"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340446183">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340446183" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340446183 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340446183"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340446019" data-entry-group-id="141253143" data-uploader-username="jessyciszowic" data-actionable="false" data-context-user-id="1589761" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340446019">
      <img class="entry-thumbnail" height="250" width="300" alt="always, black and white, and hijab image" src="https://data.whicdn.com/images/340446019/superthumb.jpg?t=1581631437" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/jessyciszowic"><img alt="Jessica" title="Jessica" class="avatar" src="https://data.whicdn.com/avatars/1589761/profile.jpg?t=1491594306" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/jessyciszowic">
              <span class="text-big">Jessica</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-13T22:03:57Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="1589761" data-username="jessyciszowic" data-collection-count="6" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340446019" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340446019/superthumb.jpg?t=1581631437" data-entry-id="340446019" data-hearter-username="jessyciszowic" >
        <span class="block pull-bottom js-heart-count">105</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340446019">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340446019">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340446019"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340446019">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340446019" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340446019 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340446019"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340445946" data-entry-group-id="141253099" data-uploader-username="jessyciszowic" data-actionable="false" data-context-user-id="1589761" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340445946">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, amazing, and islamic image" src="https://data.whicdn.com/images/340445946/superthumb.jpg?t=1581631267" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/jessyciszowic"><img alt="Jessica" title="Jessica" class="avatar" src="https://data.whicdn.com/avatars/1589761/profile.jpg?t=1491594306" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/jessyciszowic">
              <span class="text-big">Jessica</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-13T22:01:07Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="1589761" data-username="jessyciszowic" data-collection-count="6" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340445946" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340445946/superthumb.jpg?t=1581631267" data-entry-id="340445946" data-hearter-username="jessyciszowic" >
        <span class="block pull-bottom js-heart-count">49</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340445946">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340445946">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340445946"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340445946">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340445946" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340445946 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340445946"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340445789" data-entry-group-id="141253023" data-uploader-username="jessyciszowic" data-actionable="false" data-context-user-id="1589761" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340445789">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, black and white, and call image" src="https://data.whicdn.com/images/340445789/superthumb.jpg?t=1581630948" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/jessyciszowic"><img alt="Jessica" title="Jessica" class="avatar" src="https://data.whicdn.com/avatars/1589761/profile.jpg?t=1491594306" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/jessyciszowic">
              <span class="text-big">Jessica</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-13T21:55:48Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="1589761" data-username="jessyciszowic" data-collection-count="6" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340445789" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340445789/superthumb.jpg?t=1581630948" data-entry-id="340445789" data-hearter-username="jessyciszowic" >
        <span class="block pull-bottom js-heart-count">116</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340445789">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340445789">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340445789"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340445789">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340445789" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340445789 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340445789"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340445706" data-entry-group-id="141252973" data-uploader-username="ImStrivingForJannah" data-actionable="false" data-context-user-id="47932552" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340445706">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, muslims, and islam image" src="https://data.whicdn.com/images/340445706/superthumb.jpg?t=1581630746" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/ImStrivingForJannah"><img alt="ImStrivingForJannah🙏♥" title="ImStrivingForJannah🙏♥" class="avatar" src="https://data.whicdn.com/avatars/47932552/profile.png?t=1577816773" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/ImStrivingForJannah">
              <span class="text-big">ImStrivingForJannah🙏♥</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-13T21:52:26Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="47932552" data-username="ImStrivingForJannah" data-collection-count="1" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340445706" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340445706/superthumb.jpg?t=1581630746" data-entry-id="340445706" data-hearter-username="ImStrivingForJannah" >
        <span class="block pull-bottom js-heart-count">12</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340445706">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340445706">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340445706"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340445706">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340445706" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340445706 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340445706"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340445688" data-entry-group-id="102802595" data-uploader-username="jessyciszowic" data-actionable="false" data-context-user-id="1589761" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340445688">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, good things, and black and white image" src="https://data.whicdn.com/images/340445688/superthumb.jpg?t=1581630720" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/jessyciszowic"><img alt="Jessica" title="Jessica" class="avatar" src="https://data.whicdn.com/avatars/1589761/profile.jpg?t=1491594306" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/jessyciszowic">
              <span class="text-big">Jessica</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-13T21:52:00Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="1589761" data-username="jessyciszowic" data-collection-count="6" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340445688" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340445688/superthumb.jpg?t=1581630720" data-entry-id="340445688" data-hearter-username="jessyciszowic" >
        <span class="block pull-bottom js-heart-count">105</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340445688">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340445688">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340445688"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340445688">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340445688" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340445688 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340445688"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
  <div class="entry grid-item" data-entry-id="340445444" data-entry-group-id="8347151" data-uploader-username="ImStrivingForJannah" data-actionable="false" data-context-user-id="47932552" data-page-number="1" data-context="search">
<div class="no-padding">

  <div class="entry-preview  thumb-height ">


    <a tabindex="-1" class="js-entry-detail-link js-blc js-blc-t-entry" href="/entry/340445444">
      <img class="entry-thumbnail" height="250" width="300" alt="allah, muslims, and islam image" src="https://data.whicdn.com/images/340445444/superthumb.jpg?t=1581630263" />
      
      
</a>

    <div class="entry-hover">
        
<div class="user-preview grid-flex ">

    <div class="col valign-top">
      <a class="avatar-container  avatar-small" href="/ImStrivingForJannah"><img alt="ImStrivingForJannah🙏♥" title="ImStrivingForJannah🙏♥" class="avatar" src="https://data.whicdn.com/avatars/47932552/profile.png?t=1577816773" /></a>
    </div>

  <div class="col span-12">
    <span class="text-overflow-parent">
      <span class="text-overflow">

            <a class="js-blc js-blc-t-user" href="/ImStrivingForJannah">
              <span class="text-big">ImStrivingForJannah🙏♥</span>
</a>          <br>

          <small><abbr class="timeago" title="2020-02-13T21:44:23Z">1 day ago</abbr></small>


        &nbsp;
      </span>
    </span>
  </div>

      <div class="col">
        
    <a href="javascript:void(0);" class="js-follow-button anonymous btn bg-gradient btn-small" data-user-id="47932552" data-username="ImStrivingForJannah" data-collection-count="1" rel="nofollow">Follow</a>
  

      </div>


</div> <!-- user-preview -->


      <!-- button heart circle -->
      
  <a href="/entry/340445444" class="entry js-blc js-blc-t-heart btn-heart btn btn-heart-circle js-heart-button" data-tiny-thumb="https://data.whicdn.com/images/340445444/superthumb.jpg?t=1581630263" data-entry-id="340445444" data-hearter-username="ImStrivingForJannah" >
        <span class="block pull-bottom js-heart-count">11</span>
    <i class="icon icon-heart icon-primary  "></i>
  </a>


        <div class="entry-actions">

          <div class="grid-flex js-entry-hover-collections-select" style="display:none" data-entry-id="340445444">
            <div class="col">
              <a href="#" class="btn btn-small btn-block btn-dropdown text-primary text-left js-add-to-collection" data-entry-id="340445444">
                <i class="icon icon-collection icon-primary"></i> &nbsp;&nbsp;
                Add to collections
              </a>
            </div>
            <a href="#" class="col hide-sm js-hide-entry-hover-collections-select" data-entry-id="340445444"> &nbsp;&nbsp;
              <i class="icon icon-white icon-close"></i>
            </a>
          </div>

          <div class="grid-flex text-center js-entry-hover-actions" data-entry-id="340445444">
            
<a href="javascript:void(0)" class="js-add-to-collection col" data-entry-id="340445444" style="display:none">
  <i class="icon icon-collection icon-white"></i>
</a>

            


<a   data-item-id=340445444 data-type=entry data-message=Had%20to%20share%20this%20%40WeHeartIt class="js-share-button col" title="Share"tabindex="-1"href="/entry/340445444"class="col" ><i class="icon icon-share icon-white"></i></a>


              <span class="col"></span>
            
          </div>

        </div>


    </div>
  </div>


</div>
</div>
